<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.codingdebugallday.plugin.core.infra.mapper.PluginMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.github.codingdebugallday.plugin.core.domain.entity.Plugin">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="plugin_id" property="pluginId" jdbcType="VARCHAR"/>
        <result column="plugin_description" property="pluginDescription" jdbcType="VARCHAR"/>
        <result column="plugin_version" property="pluginVersion" jdbcType="VARCHAR"/>
        <result column="plugin_big_class" property="pluginBigClass" jdbcType="VARCHAR"/>
        <result column="plugin_small_class" property="pluginSmallClass" jdbcType="VARCHAR"/>
        <result column="plugin_path" property="pluginPath" jdbcType="VARCHAR"/>
        <result column="object_name" property="objectName" jdbcType="VARCHAR"/>
        <result column="plugin_fingerprint" property="pluginFingerprint" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ${prefix}.id,
        ${prefix}.plugin_id,
        ${prefix}.plugin_description,
        ${prefix}.plugin_version,
        ${prefix}.plugin_big_class,
        ${prefix}.plugin_small_class,
        ${prefix}.plugin_path,
        ${prefix}.object_name,
        ${prefix}.plugin_fingerprint,
        ${prefix}.enabled_flag,
        ${prefix}.tenant_id,
        ${prefix}.object_version_number,
        ${prefix}.creation_date,
        ${prefix}.created_by,
        ${prefix}.last_updated_by,
        ${prefix}.last_update_date
    </sql>

</mapper>